<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Document</title>
</head>

<body>
<h1 id="heading">WHAT FOOD IS IT?</h1>
<h2 style="margin-top: 90px;">File Upload</h2>

<div class="upload-wrapper">
    <form id="uploadForm" enctype="multipart/form-data">
        <div class="container">
            <!-- Image preview -->
            <img id="imagePreview" src="" alt="Image Preview" class="hidden">

            <!-- File name display -->
            <span id="fileName">No file chosen</span>

            <!-- Custom file input button -->
            <input type="file" id="imageFile" name="image" accept="image/*" hidden>
            <label for="imageFile" class="custom-file-button">Choose Image</label>

            <!-- Upload button -->
            <button class="btn" type="submit">Upload</button>

        </div>
    </form>
</div>

<p id = "anagramShow"> </p>

<script src="../static/scripts/index.js"></script>
</body>
</html>
